.custom-login-button {
    border-radius: 25px;
    width: 100%;
}

.custom-login-form-box {
    height: 90vh;
}

.custom-login-form-box img {
    margin: 20px 0 20px 0;
}

.custom-login-form-box h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.custom-login-form-box p {
    margin-top: 20px;
}

.custom-login-form {
    margin-bottom: 70px;
}

@media only screen and (min-width: 580px) {
    .custom-login-form {
        width: 400px;
    }
}