.custom-signup-button {
    border-radius: 25px;
    width: 100%;
}

.custom-signup-form-box {
    min-height: 110vh;
}

.custom-signup-form-box img {
    margin: 20px 0 20px 0;
}

.custom-signup-form-box h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.custom-signup-form {
    margin-bottom: 70px;
}

.inline-errormsg {
    color: red;
    font-size: 12px;
    position: relative;
    bottom: 15px;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 580px) {
    .custom-signup-form {
        width: 400px;
    }
}